body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eeeeee;
    max-width: 1280px;
    padding: 0 20px;
}

header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

img {
    width: 400px;
    object-fit: contain;
    padding-right: 400px;
}

#nav-bar {
    margin: auto;
}

.nav-links {
    text-decoration: none;
    color: black;
    margin-right: 80px;
}

main {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

main h2 {
    margin-top: 15px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
}

#email {
    margin-bottom: 15px;
    width: 20em;
    height: 1.5em;
}

#submit {
    width: 10em;
    height: 2em;
    font-weight: bold;
    font-size: 15px;
    background-color: #f1c40f;
    border-style: none;
}

#submit:hover {
    background-color: #d9730d;
    color: #ffffff; 
}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;;
}

#features {
    margin-top: 30px;
}

.points {
    display: flex;
}

.fas {
    color: #ff8c00;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-right: 50px;
    padding-top: 35px;
}

.fas.fa-th-large{
    width: 70px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    height: 125px;
    width: 1000px;
}

#player {
    margin: 0 auto;
}